{
    # Enable Debug mode
	debug

    # Disable admin console
	admin off

	# Default email for tls

    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
(common) {
    tls {
        issuer acme {
            email jahanarun@gmail.com
            # dir https://acme-staging-v02.api.letsencrypt.org/directory
            dir https://acme-v02.api.letsencrypt.org/directory
            resolvers 1.1.1.1 1.0.0.1
            dns cloudflare {$DNS_API_KEY}
        }
        alpn http2
    }
    log {
        output stdout
        format console
    }
    @local_subnets {
        remote_ip 10.100.30.0/24
    }
#    basicauth {
#        dex some_key_here
#    }

}

nextcloud.dexome.com  {
    import common
    reverse_proxy https://dex-nextcloud {
        transport http {
            tls_insecure_skip_verify
        }
    }
    log {
        output file log/nextcloud.json
    }
}

adfs.dexome.com  {
    import common
    reverse_proxy https://adfs.dexome.com {
        transport http {
            tls_insecure_skip_verify
        }
    }
    log {
        output file log/adfs.json 
    }
}

plex.dexome.com  {
    import common
    reverse_proxy http://daemon.dexome.com:32400
    log {
        output file log/plex.json
    }
}

torrent.dexome.com  {
    import common
    @torrent_subnets {
        remote_ip 10.100.30.0/24 10.100.60.5/32 10.100.70.7/32
    }
    reverse_proxy @torrent_subnets http://daemon.dexome.com:8220
    log {
        output file log/torrent.json
    }
}

movies.dexome.com  {
    import common
    reverse_proxy @local_subnets http://daemon.dexome.com:7878
    log {
        output file log/radarr.json
    }
}

tvshows.dexome.com  {
    import common
    reverse_proxy @local_subnets http://daemon.dexome.com:8989
    log {
        output file log/sonarr.json
    }
}

music.dexome.com  {
    import common
    reverse_proxy @local_subnets http://daemon.dexome.com:8686
    log {
        output file log/lidarr.json
    }
}

jackett.dexome.com  {
    import common
    reverse_proxy @local_subnets http://just-vpn.dexome.com:9117
    log {
        output file log/jackett.json
    }
}

tautulli.dexome.com  {
    import common
    reverse_proxy @local_subnets http://daemon.dexome.com:8181
    log {
        output file log/tautulli.json
    }
}

dashboard.dexome.com  {
    import common
    reverse_proxy @local_subnets http://daemon.dexome.com:3000
    log {
        output file log/grafana.json
    }
}