20 4 * * *  python3 /cronjober/onvif_camera_set_time.py | tee -a /var/log/cron.log 2>&1
0 3 * * 5 /cronjober/sync-btank.sh | tee -a /var/log/sync-btank.log 2>&1
0 5 * * *  python3 /cronjober/tailscale-maintenance.py | tee -a /var/log/cron.log 2>&1
